/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my CSS */

body {
  display: table;
  margin: auto;
  box-sizing: border-box;
}

.intro-container h1 {
  font-size: 28px;
  font-weight: bold;
  padding: 1em 1.2em .5em 1.2em;
  text-decoration: underline rgb(108, 171, 201);
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding: .35em 1.2;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  padding: .35em 1.2em;
  text-align: center;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  padding: .35em .2em;
}

blockquote{
  padding: 0em 1.5em 1em 1.5em;
  line-height: 1.35;
  text-indent: 2em;
  text-align: justify;
  font-size: 14px;
}

.main-container {
  width: 812px;
  margin-top: 50px;
  background-color: #E5E5E5;
  border: 3px solid rgb(111, 111, 111);
}

.intro-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(111, 111, 111);
  border-bottom: 0;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  display: row;
}

.tabs-container {
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  border: 3px solid rgb(111, 111, 111);
  /* box-sizing: border-box; */
}

.tab {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 1px solid rgb(111, 111, 111);
  width: 200px;
  height: 40px;
  font-size: 14px;
}

.active {
  background-color:  rgb(108, 171, 201);
  font-weight: bold;
}

.tab:focus {
  outline: 0;
  font-size: 15px;
  font-weight: bold;
}

.tab:hover {
  cursor: pointer;
  font-size: 15px;
}

.tech-corner {
  display: flex;
  flex-direction: column;
  /* border: 3px solid rgb(111, 111, 111);
  border-top: 0; */
  border-right: 3px solid rgb(111,111,111);
}

.tech-imgs {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.tech-img {
  width: 40px;
}

.graph {
  display: none;
}

.radio-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 420px;
  margin-top: 100px;
}

.graph-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

/* .graph-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.description-text {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: rgb(111, 111, 111);
}
.source-link:hover {
  cursor: pointer; 
}